@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,900;1,300&display=swap");

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.title {
  color: #333b46;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.text {
  color: #81868e;
  line-height: 25px;
  letter-spacing: 0.7px;
}
/*
-------------------------HEADER-------------------------
*/
.header {
  min-height: 100vh;
  background: url(../img/header/nav-bg.png) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
}

.header__body {
  max-width: 1210px;
  padding: 50px 20px 0px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* ------------ Desktop navigation ----------- */
.nav__list {
  display: flex;
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  margin: 0px 15px;
  transition-duration: 0.5s;
  transition-property: margin;
}
.nav__item:hover {
  margin: 0 5px;
}
.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
  border: 1px solid #ffffff00;
  border-radius: 17px;
  transition-duration: 0.5s;
  transition-property: padding, border;
  padding: 8px 0px;
}
.nav__link:hover {
  padding: 8px 20px;
  border: 1px solid #ffffff;
}
/* //////////// Desktop navigation ////////////*/

/*
----------BURGER ICON----------
*/
.burger-icon {
  z-index: 19;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*
////////// BURGER ICON //////////
*/

/*
----------BURGER LINE----------
*/
.burger-icon__line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.burger-icon__line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger-icon__line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.burger-icon.burger-icon-active .burger-icon__line {
  background-color: transparent;
}

.burger-icon.burger-icon-active .burger-icon__line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger-icon.burger-icon-active .burger-icon__line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
/*
//////////BURGER LINE//////////
*/

/*
---------- MOBILE NAVIGATION ----------
*/

.mobile-nav {
  display: none;
  z-index: 9;
  /*display: block;*/
  position: absolute;
  right: -320px;
  top: 0;
  height: 100%;
  width: 320px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  transition: transform 0.4s ease-in;
  text-align: center;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}

.mobile-nav--active {
  transform: translateX(-100%);
}

.mobile-nav__title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  color: #ffffff;
}

.mobile-nav__list {
  margin: 50px 0;
}

.mobile-nav__item {
  margin-bottom: 30px;
}

.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
}

/*
////////// MOBILE NAVIGATION //////////
*/
.header__text {
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
}
.header__title {
  color: #ffffff;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 40px;
}
.header__subtitle {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
}
.header__arrow {
  align-self: center;
  margin: 50px 0px;
}

.scroll-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}

/*
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*
/////////////////////////HEADER/////////////////////////
*/

/*
-------------------------ABOUT-------------------------
*/
.about {
  background-color: #ffffff;
}
.about__container {
  max-width: 885px;
  margin: 0 auto;
}
.about__body {
  display: flex;
  justify-content: space-between;
  padding: 80px 20px 60px 20px;
}
.about__text {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  margin-bottom: 48px;
}
.about__paragraph {
  margin-bottom: 45px;
}
.about__button {
}
.about__button__link {
  color: #333b46;
  border: 1px solid #333b46;
  border-radius: 19px;
  padding: 12px 30px;
  transition-duration: 0.4s;
  transition-property: background-color, color, border-color;
}
.about__button__link:hover {
  background-color: #b4b4b483;
  color: rgb(0, 0, 0);
  border-color: #b4b4b483;
}
.about__image {
}
.about__image__ipad {
}

@media (max-width: 768px) {
  .about__text {
    padding-right: 20px;
  }
  .about__body {
    padding: 40px 20px 30px 20px;
    transition: 0.5s;
  }
  .about__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .about__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__text {
    padding-right: 0;
    max-width: 100%;
    align-items: center;
  }
  .about__image {
    text-align: center;
    margin-top: 35px;
  }
  .about__image__ipad {
  }
}
/*
///////////////////////ABOUT///////////////////////
*/


/*
-------------------------DETAILS-------------------------
*/
.details {
  background-color: #f3f3f3;
}
.details__container {
  max-width: 1005px;
  margin: 0 auto;
}
.details__body {
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
}
.details__heading {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 460px;
  text-align: center;
}
.details__title {
  margin-bottom: 40px;
}
.details__subtitle {
}
.details__icon {
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}
.details__icon-bg {
  margin-right: 30px;
  cursor: pointer;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details__icon-bg:last-child {
  margin-right: 0px;
}

.details__icon-bg-active {
  transition-duration: 0.5s;
	transition-property: background-color;
	background-color: #19bd9a;
}
.icon__heart {
}
.icon__mouse {
}
.icon__lamp {
}
.details__description {
  display: none;
  flex-direction: column;

}
.details__description-active {
  display: flex;
}

.description__title {
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
letter-spacing: 0.8px;
margin-bottom: 40px;
}
.description__row {
  display: flex;
  justify-content: space-between;
}
.description__text {
color: #81868e;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
.description__text span {
color: #19bd9a;
font-weight: 700;
letter-spacing: 0.8px;
}
.description__text b {
color: #636971;
font-weight: 700;
letter-spacing: 0.8px;
}
.description__text-left {
  max-width: 325px;
}
.description__text-right {
  max-width: 520px;
  margin-left: 30px;
}
.description__mouse {
}
.description__lamp {
}
.description__heart {
}

@media (max-width: 768px) {
  .details__body {
    padding: 40px 20px;
  }
  .details__title {
    margin-bottom: 20px;
  }
  .details__icon {
    margin: 30px 0px;
  }
  .description__title {
    text-align: center;
  }
  .description__row {
    flex-wrap: wrap;
  }
  .description__text-left {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .description__text-right {
    max-width: 100%;
    margin-left: 0px;
  }
}
/*
///////////////////////DETAILS///////////////////////
*/